/*
 *	settings of margin and padding for all elements 
 */
* {
	margin: 0px;
	padding: 0px;
}

/*
 *	set body background color 
 */
body {
	background-color: #F8FFCF;
}

/*
 * 	set of height, font, background color for div with id = 'header'
 */
#header {
	height: 60px;
	font-family: Georgia;
	font-size: 40px;
	text-align: center;
	background-color: #9BD678;
	padding-top: 10px;
}

/*
 * 	set left margin for dives with id = "maps" and "drawButton"
 */ 
#maps, #drawButton {
	margin-left: 30%;
}

/*
 * 	set top margin of div with id = "maps"
 */ 
#maps {
	margin-top: 2%;
}

/*
 * 	set background color, width, height, font properties, and margin 
 * 	for div with id = "drawButton"
 */	 
#drawButton {
	background-color: #2C6E4C;
	height: 50px; 
	width: 600px;
	text-align: center;
	font-size: 30px;
	color: #F8FFCF;
	font-style: italic;
	font-family: Georgia;
	padding-top: 15px;
	margin-bottom: 2%;
	cursor: pointer;
}

/*
 * 	set properties of div with id = "drawButton"
 *  which shows where mouse is over this div
 */  
#drawButton:hover {
	background-color: #F4FF67;
	color: #2C6E4C;
	border-style: solid;
    border-color: #2C6E4C;
    border-width: 1px;
}

/*
 * 	set font properties, background color and height of div with id = "footer"
 */ 
#footer {
	height: 35px;
	padding-top: 5px;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	background-color: #9BD678;
}

